<!DOCTYPE html>
<html>
<head>
	<title><%= mission.name %> Mission Info</title>
</head>
<body>
	<h1>Mission Name: <a href="/mission/"><%= mission.name %></a></h1>
	<h3>Mission Launch Date: <%= mission.launchDate %></h3>
	<h3>Mission Operator: <%= mission.operator %></h3>
	<h3>Mission Type: <%= mission.missionType %></h3>

</body>
</html>